<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EAAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EAAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EAAddIn.Properties.Settings.EA_CaliberCoolgenConnectionString"
            connectionString="Data Source=DRPSQL007\SQL07;Initial Catalog=EA_CaliberCoolgen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EAAddIn.Properties.Settings.EA_Release1ConnectionString"
            connectionString="Data Source=DRPSQL007\SQL07;Initial Catalog=EA_Release1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EAAddIn.Properties.Settings.EA_LOCALConnectionString"
            connectionString="Dsn=ea local;uid=WL0035;app=Microsoft® Visual Studio® 2010;wsid=WDE307669;database=EA_LOCAL;trusted_connection=Yes"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <userSettings>
        <EAAddIn.Properties.Settings>
            <setting name="LastCaliberProject" serializeAs="String">
                <value />
            </setting>
            <setting name="HierarchyChildView" serializeAs="String">
                <value>&lt;None&gt;</value>
            </setting>
            <setting name="SQLServerScriptGeneratorConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAddIn1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAddIn2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAddIn3" serializeAs="String">
                <value />
            </setting>
        </EAAddIn.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EAAddIn.Properties.Settings>
            <setting name="DataDynamicsARLic" serializeAs="String">
                <value>DEWR, DEWR, DD-ARN-20-D000496, cc4967777c49a3ff</value>
            </setting>
        </EAAddIn.Properties.Settings>
    </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CaliberRMSDK100.NET"
                  publicKeyToken="157fc4a85357f4d1"
                  culture="neutral"/>

        <bindingRedirect oldVersion="10.0.345.0"
                         newVersion="10.0.285.65535"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>